* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: NotoSans;
  src: url(/src/assets/fonts/static/NotoSans-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: NotoSans;
  src: url(/src/assets/fonts/static/NotoSans-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: NotoSans;
  src: url(/src/assets/fonts/static/NotoSans-Bold.ttf);
  font-weight: 700;
}
